/* Share style */
body{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.display-flex{
    display: flex;
}


/* Dark-02 */
.text-gray{
    color: #424242;
}
/* Dark 03 */
.text-light-gray{
    color: #727272;
}

.orange{
    color: #FF900E;
}



.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.primary-btn{
    background-color: #ff900e;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    padding: 21px 25px;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
 margin-top: 130px;
}


.navbar, .banner, footer{
    max-width: 1440px;
    margin: 0 auto;
}

.section-title{
    font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 24px;
}

/* header style */



/* navbar-style */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-links{

}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.brand{
    font-weight: bold;
    font-size: 3rem;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}



/* banner related style */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-heading{
    font-weight: 700;
    font-size: 4rem;
}
.banner-description{
    font-size: 16px;
    line-height: 26px;
}
.banner-img{
    width: 100%;
    margin-bottom: 40px;
}



/* Feature related style */


.teams{
    align-items: center;
}

.img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.feature-content{
    max-width: 530px;
    margin-left: 130px;
}

#quick-list{
    font-weight: 500;
}

#features{
    font-weight: bold;
}

.feature-description{
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 32px;
}





/* Some fact style */

.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}


.fact-description{
    max-width: 542px;
    margin-bottom: 40px;
}
.fact-card{
    border: 2px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}



/* sponsor style */


.sponsor-info{
   max-width: 540px;
   margin: 50px auto;
   text-align: center;
}

.sponsors-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsors-container img{
    filter: grayscale(100%);
}

footer{
    margin-top: 130px;
    text-align: center;

}

.copyright{
    font-size: 1.15rem;
    background-color: #FFF4E7;
    padding: 38px ;
    border-radius: 8px;
}






/* Media screen query */

@media screen and (max-width:576px) {
    .navbar ,
    .nav-links,
    .teams{
        flex-direction: column;
    }

    .img-container, 
    .fact-container,
    .sponsors-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .feature-content{
        margin-left: 40px;
    }

    .fact-container{
        justify-items: center;
        gap: 24px;
    }
     
    .sponsors-container{
        gap:20px;
        justify-items: center;        
    }
    .copyright{
        font-size:1rem ;
    }

}

/* Medium device  */

@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }

    .feature-content{
        margin: 50px auto;
    }
    .some-facts{
       margin-left: 60px;
       
    }
    .fact-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
   
}

.sponsors-container{
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 30px;
}

}